version: '3.8'

services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - /volume1/docker/homeassistant:/config
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    network_mode: host
  
  appdaemon:
    image: "acockburn/appdaemon:latest"
    container_name: appdaemon
    restart: unless-stopped
    ports:
      - "5050:5050"
    volumes:
      - /volume1/docker/appdaemon/conf:/conf 
      - /etc/localtime:/etc/localtime:ro
    environment:
      - HA_URL=http://192.168.0.250:8123
      - TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIzMjk3MjBlNTdiNzg0MzczYWE3Nzk5M2NhZmUyNjk1YiIsImlhdCI6MTc2NDExODMwNiwiZXhwIjoyMDc5NDc4MzA2fQ.L7qWuGj3hQEJaZ5aIcftvDhPz3Vy2KBw7VBeEbXwQtc

  esphome:
    container_name: esphome
    image: ghcr.io/esphome/esphome
    volumes:
      - /volume1/docker/esphome/config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host
    environment:
      - USERNAME=admin
      - PASSWORD=Iz022394
    labels:
      - com.centurylinklabs.watchtower.enable=true

  nodered:
    container_name: nodered
    image: nodered/node-red:latest
    volumes:
      - /volume1/docker/nodered/data:/data
    restart: unless-stopped
    ports:
      - "1880:1880"
    environment:
      - TZ=America/Mexico_City
    labels:
      - com.centurylinklabs.watchtower.enable=true

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    volumes:
      - /volume1/docker/mosquitto/config:/mosquitto/config
      - /volume1/docker/mosquitto/data:/mosquitto/data
      - /volume1/docker/mosquitto/log:/mosquitto/log
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    environment:
      - TZ=America/Mexico_City

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt
    volumes:
      - /volume1/docker/zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    restart: unless-stopped
    ports:
      - "8080:8080"
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      - TZ=America/Mexico_City

  codeserver:
    container_name: codeserver
    image: linuxserver/code-server:latest
    volumes:
      - /volume1/docker/vcode:/config
      - /volume1/docker/homeassistant:/config/workspace/HomeAssistant
      - /volume1/docker/esphome:/config/workspace/ESPHome
    restart: unless-stopped
    ports:
      - "8443:8443"
    environment:
      - PUID=0
      - PGID=0
      - TZ=America/Mexico_City
      - PASSWORD=Iz022394
      - SUDO_PASSWORD=Iz0222394
      - DEFAULT_WORKSPACE=/config/workspace
    labels:
      - com.centurylinklabs.watchtower.enable=true

  music-assistant-server:
    container_name: music-assistant-server
    image: ghcr.io/music-assistant/server:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - /volume1/docker/music-assistant-server/data:/data
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
    environment:
      - LOG_LEVEL=info
      - TZ=America/Mexico_City
    labels:
      - com.centurylinklabs.watchtower.enable=true

  piper:
    container_name: piper
    image: "rhasspy/wyoming-piper:latest"
    restart: unless-stopped
    ports:
      - "10200:10200"
    volumes:
      - /volume1/docker/piper-data:/data
    environment:
      - TZ=America/Mexico_City
    command:
      - --voice=es_ES-carlota-high
    labels:
      - com.centurylinklabs.watchtower.enable=true

  whisper:
    container_name: whisper
    image: "rhasspy/wyoming-whisper:latest"
    restart: unless-stopped
    ports:
      - "10300:10300"
    volumes:
      - /volume1/docker/whisper-data:/data
    environment:
      - TZ=America/Mexico_City
    command:
      - --model=base
      - --language=es
    labels:
      - com.centurylinklabs.watchtower.enable=true

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    environment:
      - TZ=America/Mexico_City
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_SCHEDULE=0 0 5 * * 5 
      - WATCHTOWER_LABEL_ENABLE=true
